.container{
  display: grid;
  grid-template-rows: 1fr ;
  margin-left: 75%;
  width: fit-content;
  grid-row: 1/4;

}

.hero-timeline {
}

.timeline-point1 {
  grid-column: 1;

  width: 20px;
  height: 20px;
  background: #f25c33;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  grid-row: 1;
  border-radius: 50%;
  position: relative;
  margin-left: 15px;
  margin-top: 8rem;
  z-index: 1000;

}

.point1-info {
  position: absolute;
  flex-direction: row-reverse;
  text-align: end;
  color: #F5EFE1;
  margin-left: -9.8rem;
  margin-top: -1.3rem;
  width: 150px;

}

.timeline-point2 {
  width: 20px;
  grid-column: 1;
  height: 20px;
  background: #f25c33;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  grid-row: 1;
  border-radius: 50%;
  position: relative;
  margin-left: 15px;
  margin-top: 15rem;
  z-index: 1001;

}

.point2-info {
  position: absolute;
  flex-direction: row-reverse;
  text-align: end;
  color: #F5EFE1;
  margin-left: -13rem;
  width: 200px;
  margin-top: -1.3rem;
}

.timeline-point3 {
  width: 20px;
  grid-column: 1;
  height: 20px;
  background: #f25c33;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  grid-row: 1;
  border-radius: 50%;
  position: relative;
  margin-left: 15px;
  margin-top: 22rem;
  z-index: 1001;

}

.point3-info {
  position: absolute;
  flex-direction: row-reverse;
  text-align: end;
  color: #F5EFE1;
  margin-left: -10rem;
  width: 150px;
  margin-top: -1.3rem;

}

.timeline-point4 {
  width: 20px;
  grid-column: 1;
  height: 20px;
  background: #f25c33;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  grid-row: 1;
  border-radius: 50%;
  position: relative;
  margin-left: 15px;
  margin-top: 29rem;
  z-index: 1001;

}

.point4-info {
  position: absolute;
  flex-direction: row-reverse;
  text-align: end;
  color: #F5EFE1;
  margin-left: -10rem;
  width: 150px;
  margin-top: -1.3rem;

}
.timeline-point5 {
  width: 20px;
  grid-column: 1;
  height: 20px;
  background: #f25c33;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  grid-row: 1;
  border-radius: 50%;
  position: relative;
  margin-left: 15px;
  margin-top: 36rem;
  z-index: 1001;

}

.point5-info {
  position: absolute;
  flex-direction: row-reverse;
  text-align: end;
  color: #F5EFE1;
  margin-left: -10rem;
  width: 150px;
  margin-top: -1.3rem;

}
.timeline-point6 {
  width: 20px;
  grid-column: 1;
  height: 20px;
  background: #f25c33;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  grid-row: 1;
  border-radius: 50%;
  position: relative;
  margin-left: 15px;
  margin-top: 43rem;
  z-index: 1001;

}

.point6-info {
  position: absolute;
  flex-direction: row-reverse;
  text-align: end;
  color: #F5EFE1;
  margin-left: -10rem;
  width: 150px;
  margin-top: -1.3rem;

}

@media screen and (min-width: 1024px) and (max-width: 1450px) {
  .timeline-point1{
    margin-top: 6rem;
  }
  .timeline-point2{
    margin-top: 11rem;
  }
  .timeline-point3{
    margin-top: 16rem;
  }
  .timeline-point4{
    margin-top: 21rem;
  }
  .timeline-point5{
    margin-top: 26rem;
  }
  .timeline-point6{
    margin-top: 31rem;
  }



  .point1-info {
    margin-left: -19rem;
    width: 300px;
    margin-top: -0.3rem;
  
  }
  .point2-info {

    margin-left: -19rem;
    width: 300px;
    margin-top: -0.3rem;
  
  }
  .point3-info {

    margin-left: -19rem;
    width: 300px;
    margin-top: -0.3rem;
  
  }
  .point4-info {

    margin-left: -19rem;
    width: 300px;
    margin-top: -0.3rem;
  
  }
  .point5-info {

    margin-left: -19rem;
    width: 300px;
    margin-top: -0.3rem;
  
  }
  .point6-info {

    margin-left: -19rem;
    width: 300px;
    margin-top: -0.3rem;
  
  }

}

@media screen and (min-width: 1972px) {
  .timeline-point1{
    margin-top: 8rem;
  }
  .timeline-point2{
    margin-top: 15rem;
  }
  .timeline-point3{
    margin-top: 22rem;
  }
  .timeline-point4{
    margin-top: 29rem;
  }
  .timeline-point5{
    margin-top: 36rem;
  }
  .timeline-point6{
    margin-top: 43rem;
  }
}
