.project-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 300px);
  gap: 0.5rem;
  border-bottom: 2px solid #f25c33;
}

.project-image {
  display: flex;
  height: 10rem;
  background-color: #fefefb;
  border: 1px solid #334b35;
}

.project-desc {
  display: flex;
  align-self: flex-start;
  align-items: center;
  height: 10rem;
  background-color: transparent;
}

.project-desc ul {
  display: flex;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  justify-content: space-evenly;
}

.project-desc li {
  padding-right: 3px;
}

.project-desc p {
  display: block;
  font-size: 0.8rem;
}
