.traits {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-left: 1em;
  margin: 0 auto;
  padding-top: 1em;
}

.traits li {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  background-color: #fefefb;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  align-items: center;
}

.traits p {
  padding-left: 1em;
}
.traits span {
  display: none;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #334b35;
  border-radius: 50%;
  margin-left: 20em;
  margin-top: 0.5em;
  position: absolute;
}

.traits li:nth-child(5),
.traits li:nth-child(6),
.traits li:nth-child(7),
.traits li:nth-child(8) {
  text-align: left;
  font-size: 0.8rem;
  padding-right: 0.5em;
  /* border: 2px solid #334b35; */
}


/* TRAIT MODAL  */
.modal-wrapper{
    display: block;
    width: 100%;
    height: fit-content;
    background-color: #fefefb;
    margin-top: 100px;
    height: 100px;
    
}


/* DESKTOP/LAPTOP STYLES */

@media screen and (min-width: 1024px) {
  .traits li {
    height: 40px;
    font-size: 1.3rem;
    /* justify-content: center; */
    align-items: center;
  }

  .traits li:nth-child(5),
  .traits li:nth-child(6),
  .traits li:nth-child(7),
  .traits li:nth-child(8) {
    height: 400px;
    z-index: 1;
  }

  .modal-wrapper{
    display: block;
    width: 100%;
    height: fit-content;
    background-color: #fefefb;
    margin-top: 200px;
    height: 200px;
    
}
}
