.nav-list {
  display: flex;
  margin: 0;
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem;
}

.nav {
  display: flex;
  border-bottom: 2px;
  border-style: solid;
  width: 100%;
  justify-content: center;
}

.left-sidebar {
  position: fixed;
  width: 2rem;
  min-height: 100%;
  background-color: #334b35;
}

.vertical-banner {
  display: none;
}

.vertical-banner::after {
  display: flex;
  content: "";
  position: relative;
  margin-left: 6px;
  margin-top: 12px;

  width: 17px;
  height: 17px;
  background-color: antiquewhite;
  border-radius: 50%;
}


@media screen and (min-width: 1024px) {
  .vertical-banner {
    display: block;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 30px; 
    height: 100%; 
    background-color: #334b35; 
  }

}
