.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  height: 100vh;
  padding: 3.5rem;
}

.arrow {
  position: absolute;
  top: 85%;
}
.title {
  grid-column: span 4;
  font-size: 3rem;
}

.job {
  display: flex;
  grid-column: 3/5;
  grid-row: 2;
  flex-direction: row-reverse;
  font-size: 3rem;
}

.bridge {
  grid-row: 4;
  grid-column: 1 / 4;
  font-size: 3rem;
}

.build {
  display: flex;
  grid-row: 5;
  grid-column: 3/ 5;
  font-size: 3rem;
  flex-direction: row-reverse;
}

.timeline {
  grid-column: span 4;
  font-size: 3rem;
  place-self: center;
}

@media (max-width: 600px) {
  /* Adjust position for smaller screens */
  .name {
    top: 20%;
    left: 20%;
  }
}
