/* LAYOUT  */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.2fr;
  gap: 0.5rem;
  height: fit-content;
  width: 95%;
  margin-top: 25rem;
}

.grid-item-info {
  flex-direction: row;
  grid-row: 1;
  grid-column: 1;
  display: flex;
  width: 100%;
  padding-left: 2.5em;
  padding-right: 0.5em;

  flex-direction: column;
}

.grid-item-info h3 {
  font-size: 1.3rem;
}

.grid-item-info h2 {
  font-size: 4rem;
}

/* LINKS */

.contact-links {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.contact-links ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.contact-links li {
  border: #334b35 solid 3px;
  border-radius: 5px;
  padding: 6px;
  background-color: #f25c33;
  color: antiquewhite;
  width: 18em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* FOOTER */
.footer {
  display: flex;
  grid-row: 3;
  justify-content: center;
}

.footer::after {
  content: "2024 Tomi Amao";
  position: relative;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-top: 2px solid #f25c33;
}

/* laptop/desktop layout  */

@media screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    margin-top: 1em;
    width: 100%;
    gap: 40px;
  }

  .grid-item-info {
    padding-left: 12em;
  }

  .contact-links {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
  }

  .contact-links ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1;
  }

  .footer {
    grid-column: span 2;
    width: 90%;
  }
}
