/* LAYOUT */


.container-image {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 220vh;
  margin: 0 auto;
}


/* TYPOGRAPHY */


.page-title {
    padding-left: 1em;
    padding-bottom: 0.5em;
    font-size: 4rem;
}

.vertical-line {
  display: flex;
  flex-direction: column;
  width: 3px;
  height: 500%;
  background-color: #f25c33;
  grid-row: 1;
  border-radius: 10px;
  position: sticky;
  margin-top: 30px;
}




/* DESKTOP/LAPTOP STYLES */
