/* LAYOUT */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: fit-content;
  width: 100%;
}

/* IMAGE LAYOUT */

.grid-image {
  display: grid;
  width: 100%;
  justify-items: center;
  padding-left: 1em;
  height: fit-content;
}

.grid-desc {
  display: grid;
  width: 100%;
  justify-items: center;
  padding-left: 1em;
  height: fit-content;
}
.container-image {
  display: flex;
  width: 80%;
}

.container-image-border {
  display: grid;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.container-image-desc-border {
  border: 1px solid #334b35;
  width: 100%;
  height: fit-content;
  margin-top: 1em;
  background-color: #fefefb;
  border-radius: 5px;
  grid-row: 2;
}

.container-image-desc {
  display: flex;
  font-size: 0.7rem;
  padding: 0.5em;
}

.container-trait-desc-border {
  border: 1px solid #334b35;
  width: 75%;
  height: fit-content;
  background-color: #fefefb;
  border-radius: 5px;
  grid-row: 2;
  justify-self: center;
  margin-left: 1em;
}

.trait {
}

/* TYPOGRAPHY */

.grid-traits {
  display: grid;
  width: fit-content;
  height: fit-content;
  margin-bottom: 10rem;
}

.container-trait-desc {
  display: flex;
  font-size: 0.7rem;
  padding: 0.725em;
}

.page-title {
    padding-left: 1.4em;
    padding-bottom: 3em;
    font-size: 2.5rem;
}
.image-desc {
  padding: 0.5em;
  font-size: 0.5em;
}

.trait {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 1em;
  margin-top: 1em;
}

.trait li {
  display: flex;
  width: 80%;
  margin-bottom: 1em;
  background-color: #fefefb;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
}

.trait p {
  padding-left: 1em;
}

.trait-large {
  display: flex;
  width: 83%;
  align-items: center;
  flex-direction: column;
  padding-left: 1em;
  margin-top: 1em;
  margin-left: -1em;
  margin-bottom: 12em;

}

.trait-large li {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  background-color: #fefefb;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  
}

.trait-large p {
  padding-left: 1em;
}
.trait-large span {
  display: none;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #334b35;
  border-radius: 50%;
  margin-left: 20em;
  margin-top: 0.5em;
  position: absolute;
}

.trait-large li:nth-child(5), .trait-large li:nth-child(6), .trait-large li:nth-child(7), .trait-large li:nth-child(8) {
  text-align: left;
  font-size: 0.8rem;
  padding-right: 0.5em;
  border: 2px solid #334b35;
  
}

/* DESKTOP/LAPTOP STYLES */

@media screen and (min-width: 1024px) {
  .container-trait-desc-border {
    display: none;
  }

  .page-title {

    display: flex;
    width: 100%;
    height: fit-content;
    font-size: 3rem;
    padding-bottom: 2em;
    justify-content: left;
    padding-left: 4em;
  }
  .grid-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 10rem;
  }

  .container-image {
    justify-content: flex-end;
    width: 100%;
    grid-column: 2;
  }

  .title {
    font-size: 3rem;
    margin-top: 3em;
    padding-right: 10rem;
  }

  .container-image-desc-border {
    max-width: 430px;
    justify-content: flex-end;
    margin-bottom: 10rem;
  }

  .container-image-desc {
    font-size: 1rem;
  }

  .grid-desc {
    justify-items: flex-end;
    padding-right: 10rem;
  }

  .trait {
    display: none;
  }

  .trait-large {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-left: 1em;
    margin-top: 1em;
    width: 100%;
    margin-left: 0;
  }

  .trait-large li {
    display: flex;
    width: 80%;
    margin-bottom: 1em;
    background-color: #fefefb;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #334b35;
    cursor: pointer;
  }

  .trait-large p {
    padding-left: 1em;
  }
  .trait-large span {
    display: none;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #334b35;
    border-radius: 50%;
    margin-left: 25em;
    margin-top: 0.5em;
    position: absolute;
  }


  
  .trait-large li:nth-child(5), .trait-large li:nth-child(6), .trait-large li:nth-child(7), .trait-large li:nth-child(8) {
    text-align: left;
    margin-top: 4.7em;
    font-size: 1rem;
    padding-right: 0.5em;
    border: 2px solid #334b35;
    
  }

}
